body{
    background-color: #004047;
    
}

.container{
    width: 80%;
    margin: 0 auto;
}
.img-1{
    margin-top: 77px;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 85px;
    margin-left: 700px;
    
}


a{
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    align-items: center;
    
}
.row{
    display: flex;
   
}

h1{
    font-family: "Poppins", sans-serif;
}
p{
    font-family: "Poppins", sans-serif;
}
.p-1{
    color: white;
    font-size: 18px;
    margin-left: 500px;
    white-space: nowrap;
}
.h1-1{
    color: white;
    font-size:  64px;
    margin-top: 150px;
}

.h1-2{
    color: white;
    font-size: 48px;
    text-align: center;
    margin-top: 150px;
}
.card-1{
    width: 350px;
    height: 274.73px;
    background-color: #012F34;
}




.img-2{
   padding: 50px;
   margin-left: 75px;
}
span{
    color: aqua;
}
.h4-1{
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-top: -40px;
}
.img-3{
    position: absolute;
    padding: 50px;
   margin-left: 150px;
   margin-top: -30px;

}






.card-2{
    width: 350px;
    height: 274.73px;
    background-color: #012F34;
}




.img-3{
   padding: 50px;
   margin-left: 75px;
   margin-top: 5px;
   position: absolute;
}
span{
    color: aqua;
}
.h4-2{
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
    /* margin-top: -40px; */
    margin-top: 170px;
}
.img-4{
    position: absolute;
    /* padding: 50px; */
   /* margin-left: 90px; */
   /* margin-top: -30px; */
   /* margin-top: 150px; */
   /* margin-left: -100px; */
   position: relative;
   left: -300px;

}







.card-3{
    width: 350px;
    height: 274.73px;
    background-color: #012F34;
    /* margin-top: 50px; */
}




.img-4{
   padding: 50px;
   margin-left: 75px;
  
}
span{
    color: aqua;
}
.h4-3{
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-top: -40px;
}
.img-5{
    position: absolute;
    /* padding: 50px; */
   /* margin-left: 90px; */
   /* margin-top: -30px; */
   position: relative;
   left: 860px;
   /* top: 100px; */
   margin-top: 50px;

}

.row-2{
    display: flex;
    gap: 30px;
}
.container-2{
    background-color: #012F34;
    width: 1515px;
    height: 355.66px;
    margin-top: 100px;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1-3{
    color: white;
    font-size: 48px;
   
    text-align: center;
}
.row-3{
   display: flex;
   justify-content: space-between;
   margin-top: 150px;
}

.img-5{
    margin-left: 200px;
    position: absolute;
    
}
.img-4{
    margin-left: 200px;
}
.container-3{
    background-color: #F67E7E;
    width: 1515px;
    height: 200px;

    
}
.h1-4{
    color: black;
    padding: 50px;
    font-size: 48px;
    font-weight: bold;
}

.bt-1{
    background-color: #F67E7E;
    border: 3px solid black;
    width: 153px;
    height: 48px;
    border-radius: 25px;
    font-size: 15px;
    margin-left: 1200px;
    margin-top: -90px;
    position: absolute;
    font-weight: bold;

}

.footer{
    width: 1515px;
    background-color: black;
    height: 196px;
   padding: 100px;
}

.a-1{
    font-size: 40px;
}
.a-2{
    font-size: 40px;
}
.a-3{
    font-size: 40px;
}
.row-11{
    display: flex;
    gap: 30px;
    margin-left: 1100px;
    /* justify-content: space-between; */
    margin-top: -30px;
}
.img-6{
    margin-top: 40px;
    position: absolute;
    margin-left: 400px;
}
.img-4{
    margin-left: 400px;
    /* position: absolute; */
    margin-top: -10px;
}
.img-55{
    margin-left: -600px;
    margin-top: 40px;
}
.img-111{
    display: none;
}
@media(max-width: 769px){
    .img-1{
        width: 100px;
        margin-top: 20px;
        margin-left: -30px;
    }

    ul{
        margin-left: 300px;
        font-size: 20px;
        gap: 20px;
        margin-top: 5px;
    }
    a{
        font-size: 20px;
        white-space: nowrap;
    }
    .img-111{
        display: none;
    }
    .h1-1{
        font-size: 50px;
        margin-top: 60px;
        margin-left: 200px;
    }
    .p-1{
        font-size: 16px;
        margin-left: -20px;
        margin-top: 12px;
    }
    .h1-2{
        font-size: 30px;
        margin-left: -100px;
        margin-top: 70px;
    }
    /* .row-2{
        gap: 100px;
    } */
    .card-1{
        width: 350px;
        height: 274.73px;
        background-color: #012F34;
    }
    .card-3{
        position: relative;
        left: -550px;
        top: 350px;
    }
    .footer{
        /* margin-top: 400px; */
    }
    .container-3{
        width: 768px;
    }
    .container-2{
        margin-top: 500px;
        width: 768px;
    }
    .row-3{
        margin-top: 300px;
    }
    .img-5{
        position: relative;
        left: -50px;
    }
    .footer{
        width: 768px;
    }
    .img-6{
        margin-top: -150px;
        margin-left: -150px;
    }
    .img-55{
        margin-top: -150px;
        position: absolute;
        margin-left: 150px;
    }

    .h1-4{
        font-size: 30px;
    }
    .bt-1{
        margin-left: -1px;
        margin-left: 500px;
    }
    .row-11{
        margin-left: -1px;
        margin-left: 400px;
        font-size: 10px;
        margin-top: -50px;
    }
    .img-6{
        display: block;
        margin-left: 150px;
    }
    .img-55{
        margin-left: -350px;
    }
}
@media (max-width: 376px) {
    .footer{
        width: 375px;
    }

    .container-2{
        width: 375px;
    }
    .container-3{
        width: 375px;
    }
    a{
        display: none;
    }
    .img-111{
        display: block;
        margin-top: 20px;
        margin-left: -120px;
    }
    .h1-1{
        font-size: 25px;
        margin-left: 100px;
    }
    .p-1{
        font-size: 10px;
        margin-left: -25px;
    }
    .h1-2{
        font-size: 20px;
        margin-left: 15px;
        /* margin-top: -30px; */
    }
    .card-3{
        margin-top: 400px;
        margin-left: 170px;
    }
    .card-2{
        margin-top: 400px;
        margin-left: -330px;
    }
    .img-6{
        margin-left: 100px;
        margin-top: -280px;
    }
    .img-55{
        margin-left: -280px;
        margin-top: -200px;
    }
    .bt-1{
        margin-left: -1px;
        margin-left: 200px;
        margin-top: 5px;
        margin-top: -40px;
    }

    .img-11{
        width: 100px;
        margin-left: -50px;
    }
    .card-1{
        width: 400px;
    }
    i{
        display: block;
    }
    
    
    
}
